// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





#loading-spinner {
	position: fixed;
	top: 50%;
	right: 50%;
}

.home-background-image {
	background-image: url(https://ginnysbucket.s3-us-west-1.amazonaws.com/dev-images/vietnoms_badge_darkgray_edited.png);
	height: 50rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #272827;
}

button.value-display {
	width: 3rem;

	&:hover {
		cursor: default;
	}
}

.item-name {
	color: rgba(248,228,53,.97);
	font-weight: 300;
	font-size: 1.24rem;
}

@media only screen and (max-width: 768px) {
	.item-name { padding-left: 2rem; }
}

.section-name {
	color: #ff4747;
	font-weight: 600;
	font-size: 1.75rem;
}

.card-img-overlay {
	background-image: linear-gradient(rgba(15, 20, 31, 0) 0px, rgba(15, 20, 31, 0.1) 25%, rgba(15, 20, 31, 0.8) 100%);
}

.form-label {
	color: rgba(248,228,53,.97);
}

button.btn {
	border-radius: 0;
}

.restaurant-links-section {
	
	.row {
		overflow-x: auto;
		// white-space: nowrap!important;
	}
	
// 	.col-3,.col-md-3 {
// 		display: inline-block!important;
// 		float: none!important;
// 	}
	
}