// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


#loading-spinner {
	position: fixed;
	top: 50%;
	right: 50%;
}

#scroll-up-button {
	position: fixed;
	bottom: 0;
	padding-bottom: 1rem;
	color: #ff4747;
}

#hero-image {
	height: 94vh;
	opacity: 1;
	transition: opacity 800ms;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;

	.hero-overlay {
		z-index: 1;
		background-color: black;
		opacity: 0.5;
	}
}

#hero-image.fade-out {
	opacity: 0;
}

.hero-text {
	z-index: 2;
	position: absolute!important;
}

.hero-description {
	height: 20rem;
	// background-color: #ff4747;
}


#footer {
	ul { list-style: none; }
}

input.value-display {
	width: 3rem;
}

.clickable-icon:hover {
	cursor: pointer;
}

.invalid-error-frame {
	border-color: #dc3545!important;
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25)!important;
	}
}

// .clickable-icon:active {
// 	filter: drop-shadow(2px 2px 2px #c1c1c1);
// }

.add-icon {
	color: lawngreen;
}

.delete-icon {
	color: red;
}

.item-name {
	color: rgba(248,228,53,.97);
	font-weight: 300;
	font-size: 1.24rem;
}

.col-centered {
	margin: 0 auto;
}

// didn't look good on mobile device
// @media only screen and (max-width: 768px) {
// 	.item-name { padding-left: 2rem; }
// }

.section-name {
	color: #ff4747;
	font-weight: 600;
	font-size: 1.75rem;
}

.embed-responsive-item {
	object-fit: cover;
}

.card-img-overlay {
	background-image: linear-gradient(rgba(15, 20, 31, 0) 0px, rgba(15, 20, 31, 0.1) 25%, rgba(15, 20, 31, 0.8) 100%);
}

.form-label {
	color: rgba(248,228,53,.97);
}

// button.btn {
// 	border-radius: 0;
// }

// .input-group {
// 	button.btn {
// 		border-radius: .25rem;
// 	}
// }


.restaurant-links-section {
	
	.row {
		overflow-x: auto;

	}
	
}

.form-panel-container {
	
	background-color: #1f1e1e;
	height: 100vh;
}

.dashboard-overlay {
	top: 0;
	right: 0;
	left: 0;
	z-index: 51;
	height: 100vh;
	position: fixed!important;
	background-color: black;
	opacity: 0.8;
}

.dropzone {
	padding-top: 10rem;
}

.dropzone,.thumbs-container {
	height: 50vh;
	border: 1px dashed #ced4da;
	border-radius: 0.25rem;
}

.thumbs-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.thumb {
		display: inline-flex;
		border-radius: 2px;
		border: 1px solid #eaeaea;
		margin: auto 0px;
		width: 15rem;
		height: 15rem;
		padding: 4px;
		box-sizing: border-box;
		

		.thumb-inner {
			display: flex;
			min-width: 0px;
			overflow: hidden;

			svg {
				z-index: 10;
				padding: 0.25rem;
				border-radius: 1rem;
				background-color: black;

				&:hover {
					cursor: pointer;
				}
			}

			.thumb-img {
				display: block;
				height: 100%;
			}
		}
	}
}








